{% extends "bootstrap/base.html" %}
<head>
	{% block title %}
		{% if title %}{{ title }} - Microblog {% else %} Welcome to Microblog {% endif %}
	{% endblock %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blog</a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="active"><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
                    {% endif %}
                    <li class="active"><a href="#">Explore</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="active"><a href="{{ url_for('login') }}">Login</a></li>
                    <li class="active"><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages( ) %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info" role="alert">{{ message }}</div>

				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}