{% extends "base.html" %}

{% block content %}

	<h1>Make post</h1>
	
	<form action="" method="POST" novalidate>
		{{ form.hidden_tag( ) }}
		<p>
			{{ form.title.label }}
			<br />
			{{ form.title(size=32) }}
			{% for error in form.title.errors %}
			<br /><span style="color: red;">[{{error}}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.content.label }}
			<br />
			{{ form.content }}
			{% for error in form.content.errors %}
			<br /><span style="color: red;">[{{error}}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit( ) }}</p>
	</form>
{% endblock %}